@model WebApplication1.Models.Product

<h2>Product Details</h2>

@if (Model != null)
{
    <p><b>Id:</b> @Model.Id</p>
    <p><b>Name:</b> @Model.Name</p>
    <p><b>Category:</b> @Model.Category</p>
    <p><b>Price:</b> @Model.Price</p>
}
else
{
    <h3>Product Not Found</h3>
}

<a href="/Product/Index">Back to List</a>
