@model WebApplication1.Models.Product1

<form method="post">
    Name: <input asp-for="Name" /><br />
    Category: <input asp-for="Category" /><br />
    Price: <input asp-for="Price" /><br />

    <button type="submit">Save</button>
</form>
